<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Test Estimate Hub Tests">
	<listeners>
		<listener
			class-name="io.nishadc.automationtestingframework.testngcustomization.ReportGenerator"></listener>
	</listeners>
	<test name="Data Tests" parallel="methods" thread-count="5">
		<classes>
			<class
				name="io.github.nishadchayanakhawa.testestimatehub.unittests.ModelTests" />
		</classes>
	</test>
</suite>
