<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Test Estimate Hub Tests" parallel="tests" thread-count="5">
	<listeners>
		<listener
			class-name="io.nishadc.automationtestingframework.testngcustomization.ReportGenerator"></listener>
	</listeners>
	<test name="Unit Tests : Application Configuration" parallel="methods" thread-count="5">
		<classes>
			<class
				name="io.github.nishadchayanakhawa.testestimatehub.unittests.modeltests.ApplicationConfigurationServiceTests" />
		</classes>
	</test>
	<test name="Unit Tests : Test Type" parallel="methods" thread-count="5">
		<classes>
			<class
				name="io.github.nishadchayanakhawa.testestimatehub.unittests.modeltests.TestTypeServiceTests" />
		</classes>
	</test>
	<test name="Unit Tests : Change Type" parallel="methods" thread-count="5">
		<classes>
			<class
				name="io.github.nishadchayanakhawa.testestimatehub.unittests.modeltests.ChangeTypeServiceTests" />
		</classes>
	</test>
	<test name="Unit Tests : Release" parallel="methods" thread-count="5">
		<classes>
			<class
				name="io.github.nishadchayanakhawa.testestimatehub.unittests.modeltests.ReleaseServiceTests" />
		</classes>
	</test>
	<test name="Unit Tests : Change" parallel="methods" thread-count="5">
		<classes>
			<class
				name="io.github.nishadchayanakhawa.testestimatehub.unittests.modeltests.ChangeServiceTests" />
		</classes>
	</test>
	<test name="Unit Tests : Requirement" parallel="methods" thread-count="5">
		<classes>
			<class
				name="io.github.nishadchayanakhawa.testestimatehub.unittests.modeltests.RequirementDataTests" />
		</classes>
	</test>
	<test name="Unit Tests : Use Case" parallel="methods" thread-count="5">
		<classes>
			<class
				name="io.github.nishadchayanakhawa.testestimatehub.unittests.modeltests.UseCaseDataTests" />
		</classes>
	</test>
	<test name="Unit Tests : Estimation" parallel="methods" thread-count="5">
		<classes>
			<class
				name="io.github.nishadchayanakhawa.testestimatehub.unittests.modeltests.EstimationDataTests" />
		</classes>
	</test>
	<test name="Unit Tests : General Configuration" parallel="methods" thread-count="5">
		<classes>
			<class
				name="io.github.nishadchayanakhawa.testestimatehub.unittests.modeltests.GeneralConfigurationServiceTests" />
		</classes>
	</test>
	<test name="API Tests : Application Configuration" parallel="methods" thread-count="5">
		<classes>
			<class
				name="io.github.nishadchayanakhawa.testestimatehub.integrationtests.api.ApplicationConfigurationApiTests" />
		</classes>
	</test>
</suite>